#以下是不需要git进行版本控制的文件
.idea
classes
.gitignore.swp
*.iml
.gradle
gradle
sedin-model/build
sedin-model/bin
sedin-model/.settings
sedin-model/.project
sedin-model/.classpath
mybatis-generator/build
mybatis-generator/bin
mybatis-generator/.settings
mybatis-generator/.project
mybatis-generator/.classpath
sedin-eureka/build
sedin-eureka/bin
sedin-eureka/.settings
sedin-eureka/.project
sedin-eureka/.classpath
sedin-uc-api/build
sedin-uc-api/bin
sedin-uc-api/.settings
sedin-uc-api/.project
sedin-uc-api/.classpath
sedin-uc-service/build
sedin-uc-service/bin
sedin-uc-service/.settings
sedin-uc-service/.project
sedin-uc-service/.classpath
sedin-uc-web/build
sedin-uc-web/bin
sedin-uc-web/.settings
sedin-uc-web/.project
sedin-uc-web/.classpath
sedin-util/build
sedin-util/bin
sedin-util/.settings
sedin-util/.project
sedin-util/.classpath
.classpath
.project
out
gradlew
gradlew.bat
/build/
.sonar
.settings
log.log
sedin.iml
log.log.*
gc.log